body{
    background-color: black;
}
.container{
    margin: 0 auto;
    width: 1000px;
    height: 100px;
    /* border: 2px solid white; */
    display: flex;
    /* justify-content: space-between; */
}
#header1 img{
    width: 300px;
    height: 100px;
    padding-left: 30px;
}
#header2 li{
    list-style: none;
    display: inline-block;
    padding-left: 20px;
}
#header2 a{
    margin-top: 10px;
    text-decoration: none;
    color: white;
     padding: 10px;
}
#header3 button{
    background-color: red;
    margin-top: 10px;
    margin-right: 35px;
    margin-left: 35px;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid white;
}
.container1{
    margin: 0 auto;
    width: 1000px;
    height: 800px;
}
#image img{
    height: 700px;
    width: 1000px;
}
.container2{
    margin: 0 auto;
    width: 1000px;
    height: 400px;
    /* border: 2px solid white; */
    text-align: center;
    color: white;
}
 #card{
    margin-top: 20px;
    width: 200px;
    height: 150px;
    /* border: 2px solid white; */
    display: inline-block;
    margin: 20px;
     background-color: rgb(61, 59, 59);
}

#card img{
    width: 150px;
    height: 100px;
    padding: 25px;
}
#card a{
    text-decoration: none;
    color: white;
    border-radius: 15px;
    padding: 10px;
    border: 2px solid white;
}
.container3{
    margin: 0 auto;
    width: 1000px;
    height: 1400px;
    /* border: 2px solid white; */
    text-align: center;
    color: white;
    background-color: rgb(75, 71, 71);
}
.container3 h1{
    color: red;
}
#images{
    width: 400px;
    height: 400px;
    /* border: 2px solid white; */
    display: inline-block;
    margin: 25px;
}
#images img{
    width: 300px;
    height: 190px;
}
#images h1{
    color: red;
}
#images a{
    text-decoration: none;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px;
}
.container4{
    margin: 0 auto;
    width: 1000px;
    height: 1800px;
    /* border: 2px solid white; */
    color: white;
    text-align: center;
}
#box{
    width: 250px;
    height: 250px;
    /* border: 2px solid white; */
    display: inline-block;
    /* margin-bottom: 300px; */
    margin: 10px 25px 300px 25px;
}
#box img{
    width: 250px;
    height: 250px;
}
#box h1{
    color: red;
}
#box a{
    text-decoration: none;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px;
    background-color: green;
}
.container5{
    margin: 0 auto;
    width: 1000px;
    height: 500px;
    /* border: 2px solid white; */
    color: white;
    text-align: center;
    background-color: rgb(75, 71, 71);
    
}
#des{
    width: 400px;
    height: 300px;
    /* border: 2px solid white; */
    display: inline-block;
    margin: 25px;
}
#des img{
    width: 300px;
    height: 215px;
}
#des a{
     text-decoration: none;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px;
    background-color: green;
}
.container6{
    margin: 0 auto;
    width: 1000px;
    height: 800px;
    /* border: 2px solid white; */
    color: white;
    text-align: center;
}
.container6 h1{
    color: red;
}
#locat{
    width: 250px;
    height: 250px;
    /* border: 2px solid white; */
    display: inline-block;
    margin: 20px;
    background-color: white;
    color: black;
}
#locat h2{
    color: red;
}
.container7{
    margin: 0 auto;
    width: 1000px;
    height: 600px;
    /* border: 2px solid white; */
    display: flex;
    justify-content: space-between;
}
#last1{
    width: 240px;
    height: 400px;
    /* border: 2px solid white; */
    /* display: inline-block; */
    /* margin-left: 2.5px; */
    color: white;
}
#last1 img{
    width: 200px;
    height: 100px;
}
#last2{
    width: 240px;
    height: 400px;
    /* border: 2px solid white; */
    /* display: inline-block; */
    /* margin-left: 2.5px; */
    /* padding-top: 110px; */
    color: white;
    text-align: center;
}
#last2 ul li{
    list-style: none;
}
#last2 a{
    text-decoration: none;
    color: white;
}
#last2 img{
    width: 200px;
    height: 100px;
}
#last3{
    width: 240px;
    height: 400px;
    /* border: 2px solid white; */
    /* display: inline-block; */
    /* margin-left: 2.5px; */
    padding-top: 10px;
    color: white;
    text-align: center;
}

#last3 a{
    text-decoration: none;
    color: white;
}
#last4{
    width: 240px;
    height: 400px;
    /* border: 2px solid white; */
    /* display: inline-block; */
    /* margin-left: 2.5px; */
    color: white;
    text-align: center;
    padding-top: 10px;
}
#last4 img{
    width: 200px;
    height: 100px;
}
#last4 a{
    text-decoration: none;
    color: white;
}
.footer{
    margin: 0 auto;
    height: 150px;
    width: 1000px;
    padding-top: 30px;
    text-align: center;
    color: white;
    background-color: rgb(43, 41, 39);
}


